.hi{
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: 'cursive';
    border: 5px solid blue;
    border-radius:50px;
    padding:10px;
    padding-bottom:40px;
    margin:50px;
    word-spacing: 20px;
    letter-spacing:5px;
    line-height :100px;
    font-size:60px;
    font-weight: 900;
    opacity: 1;
    height: 63vh;

    
    
}
.yes{
    color: green;
    text-align: center;
    font-family: cursive;
    border: 5px solid blue;
    border-radius:50px;
    padding:10px;
    margin:50px;
    font-weight :900;
    height: 63vh;

    
    
}
.no{
    color: red;
    text-align: center;
    font-family: cursive;
    border: 5px solid blue;
    border-radius:50px;
    padding:10px;
    margin:50px;
    font-weight :900;
    height: 63vh;
}

.App{
    display:grid;
    grid-template-columns:1fr 1fr;
    
    
}
#third{
    color: red;
    text-align: center;
    font-family: cursive;
    border: 5px solid blue;
    border-radius:50px;
    padding:10px;
    margin:50px;
    font-weight :900;
    height: 63vh;
    
    
}
.divone{
    background-color: rgb(13, 0, 255);
  
}

.divthree{
    background-color: rgb(0, 255, 13); 
}




