table{
    margin:50px 100px 50px 100px;
    border-collapse:collapse;
    border-spacing: 0;
}
th,td{
    border: 2px solid black;
    padding:15px;
    font-family:Georgia, 'Times New Roman, Times, serif';
    
}
th{
    background-color: rgb(255, 230, 0);
}
td{
    background-color: rgb(245, 245, 245);
}
body{
    background-color: rgb(120, 149, 160);
}
h1{
    margin-top: 200px;
    color: rgb(0, 0, 0);
    font-family: initial;
    font-size:50px;
}
